<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
                <article>
                    <h1><%=book.title%></h1>
                    <figure>
                        <img src="/images/<%=book.cover_image%>" alt="#">
                    </figure>
                    <a href="/api/books/<%=book._id%>/delete">
                        <button>
                            Delete
                        </button>
                    </a>
                    <a href="/api/books/<%=book._id%>/edit">
                        <button>
                            edit
                        </button>
                    </a>
                    
                </article>
              </ul>
    </section>
</body>
</html>